@model HelpingHandsWebApp.Models.Hamper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hamper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.donor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hamperDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hamperDetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hamperID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
