@model HelpingHandsWebApp.Models.Courier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courierSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courierSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.courierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
